---
import Layout from "../layouts/Layout.astro";
import FreshIcon from "../components/icons/FreshIcon.astro";
import ArrowIcon from "../components/icons/ArrowIcon.astro";
import PrimaryButton from "../components/buttons/PrimaryButton.astro";
import AnchorButton from "../components/buttons/AnchorButton.astro";
import Card from "../components/Card.astro";

const IconFW = "calc(40% + 1rem)";
const IconAW = "calc(2rem + 1dvw)";
---

<Layout title="Fresh | Home">
  <main class="flex">
    <section class="flex presentation">
      <FreshIcon wh={IconFW} />
      <div class="titles">
        <h1>FRESH</h1>
        <p>My personal astro components</p>
      </div>
    </section>
    <section class="flex container">
      <h1 class="header-section">Buttons</h1>
      <div class="flex list">
        <!-- Primary Buttons -->
        <PrimaryButton icon={false} />
        <PrimaryButton
          text="Btn"
          bstyle="square"
          fstyle="border"
          icon={false}
        />
        <PrimaryButton
          text="Send Message"
          bstyle="circle"
          fstyle="border"
          icon={false}
        />
        <PrimaryButton text="Summ +" bstyle="rounded" icon={false} />
        <PrimaryButton
          text="Primary Button"
          bstyle="square"
          fstyle="fill"
          icon={false}
        />
        <PrimaryButton
          text="Send value"
          bstyle="rounded"
          fstyle="border"
          icon={false}
        />
        <PrimaryButton text="Add" bstyle="rounded">
          <FreshIcon
            wh={IconAW}
            cl1="var(--bg)"
            cl2="var(--bg)"
            cl3="var(--bg)"
            gid="dark"
            slot="pre-icon"
          />
        </PrimaryButton>
        <PrimaryButton text="Move" bstyle="rounded" fstyle="border">
          <FreshIcon wh={IconAW} gid="light" slot="pre-icon" />
        </PrimaryButton>
        <PrimaryButton text="New" bstyle="rounded">
          <FreshIcon wh={IconAW} gid="dark" slot="post-icon" />
        </PrimaryButton>
        <PrimaryButton text="Cancel">
          <FreshIcon wh={IconAW} gid="dark" slot="pre-icon" />
        </PrimaryButton>

        <PrimaryButton text="Send" bstyle="rounded" fstyle="border">
          <FreshIcon wh={IconAW} gid="light" slot="post-icon" />
        </PrimaryButton>
        <PrimaryButton text="Change" bstyle="square" fstyle="fill">
          <FreshIcon wh={IconAW} gid="dark" slot="pre-icon" />
        </PrimaryButton>
        <PrimaryButton text="Next Page" bstyle="square" fstyle="fill">
          <FreshIcon wh={IconAW} gid="dark" slot="post-icon" />
        </PrimaryButton>
        <PrimaryButton text="Refresh" bstyle="square" fstyle="border">
          <FreshIcon
            wh={IconAW}
            cl1="var(--fr)"
            cl2="var(--fr)"
            cl3="var(--fr)"
            gid="light"
            slot="pre-icon"
          />
        </PrimaryButton>
        <PrimaryButton text="Back" bstyle="square" fstyle="border">
          <FreshIcon wh={IconAW} gid="light" slot="post-icon" />
        </PrimaryButton>
        <PrimaryButton text="Upload" bstyle="circle" fstyle="border">
          <FreshIcon wh={IconAW} gid="light" slot="pre-icon" />
        </PrimaryButton>
        <PrimaryButton text="New file" bstyle="circle" fstyle="border">
          <FreshIcon wh={IconAW} gid="light" slot="post-icon" />
        </PrimaryButton>
        <PrimaryButton text="Copy">
          <FreshIcon wh={IconAW} gid="dark" slot="post-icon" />
        </PrimaryButton>
        <!-- Anchors -->
        <AnchorButton text="Link" icon={false} link="youtube.com" />
        <AnchorButton text="About we" bstyle="square" fstyle="border">
          <ArrowIcon wh={IconAW} col="var(--fr)" str="0.5rem" slot="pre-icon" />
        </AnchorButton>
        <AnchorButton
          text="Anchor"
          bstyle="square"
          fstyle="fill"
          icon={false}
        />
        <AnchorButton text="Go" bstyle="circle" fstyle="border">
          <ArrowIcon
            wh={IconAW}
            col="var(--fr)"
            str="0.5rem"
            slot="post-icon"
          />
        </AnchorButton>
        <AnchorButton text="Home">
          <ArrowIcon
            wh={IconAW}
            col="var(--bg)"
            str="0.5rem"
            slot="post-icon"
          />
        </AnchorButton>
        <AnchorButton text="Go" bstyle="circle" fstyle="border" icon={false} />
        <AnchorButton text="A" bstyle="rounded" icon={false} />
        <AnchorButton text="Hello" bstyle="rounded">
          <ArrowIcon wh={IconAW} col="var(--bg)" str="0.5rem" slot="pre-icon" />
        </AnchorButton>
        <AnchorButton text="Match" bstyle="rounded" fstyle="border">
          <ArrowIcon wh={IconAW} col="var(--fr)" str="0.5rem" slot="pre-icon" />
        </AnchorButton>
        <AnchorButton
          text="Docs"
          bstyle="square"
          fstyle="border"
          icon={false}
        />
        <AnchorButton text="Help" bstyle="square" fstyle="fill">
          <ArrowIcon wh={IconAW} col="var(--bg)" str="0.5rem" slot="pre-icon" />
        </AnchorButton>
        <AnchorButton text="Home">
          <ArrowIcon wh={IconAW} col="var(--bg)" str="0.5rem" slot="pre-icon" />
        </AnchorButton>
        <AnchorButton text="About we and you" bstyle="square" fstyle="border">
          <ArrowIcon
            wh={IconAW}
            col="var(--fr)"
            str="0.5rem"
            slot="post-icon"
          />
        </AnchorButton>
        <AnchorButton
          text="Go to Home"
          bstyle="rounded"
          fstyle="border"
          icon={false}
        />
        <AnchorButton text="Clear" bstyle="rounded">
          <ArrowIcon
            wh={IconAW}
            col="var(--bg)"
            str="0.5rem"
            slot="post-icon"
          />
        </AnchorButton>
        <AnchorButton text="Templates" bstyle="square" fstyle="fill">
          <ArrowIcon
            wh={IconAW}
            col="var(--bg)"
            str="0.5rem"
            slot="post-icon"
          />
        </AnchorButton>
        <AnchorButton text="Get started" bstyle="circle" fstyle="border">
          <ArrowIcon wh={IconAW} col="var(--fr)" str="0.5rem" slot="pre-icon" />
        </AnchorButton>
        <AnchorButton text="Start" bstyle="rounded" fstyle="border">
          <ArrowIcon
            wh={IconAW}
            col="var(--fr)"
            str="0.5rem"
            slot="post-icon"
          />
        </AnchorButton>
      </div>
    </section>
    <selection class="flex container">
      <h1 class="header-section">Headers</h1>
      <div class="flex list">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div>
    </selection>
    <section class="flex container">
      <h1 class="header-section">Cards</h1>
      <div class="flex list">
        <Card />
        <Card
          title=" Loren"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          animation="zoom-off"
        />
        <Card
          title=" Loren"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          fill={false}
        />
        <div class="flex list2">
          <Card size="mediun" />
          <Card
            size="mediun"
            fill={false}
            animation="zoom-off"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            fill={false}
          />
          <div class="flex list2">
            <Card size="small" />
            <Card size="small" fill={false} />
            <Card
              size="small"
              fill={false}
              animation="zoom-off"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              fill={false}
            />
          </div>
        </div>
      </div>
      <div class="flex list">
        <Card bstyle="square" />
        <Card
          title=" Loren"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
          animation="zoom-off"
          bstyle="square"
        />
        <Card
          title=" Loren"
          description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
          fill={false}
          bstyle="square"
        />
        <div class="flex list2">
          <Card size="mediun" bstyle="square" />
          <Card
            size="mediun"
            fill={false}
            animation="zoom-off"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            fill={false}
            bstyle="square"
          />
          <div class="flex list2">
            <Card size="small" bstyle="square" />
            <Card size="small" fill={false} bstyle="square" />
            <Card
              size="small"
              fill={false}
              animation="zoom-off"
              description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              fill={false}
              bstyle="square"
            />
          </div>
        </div>
      </div>
    </section>
  </main>

  <style>
    main,
    .icon,
    .titles,
    .titles h1,
    .titles p {
      width: 100%;
    }
    .title,
    p {
      text-align: center;
    }
    .container {
      margin: calc(1rem + 3dvh) 0;
      width: 80%;
    }
    .header-section {
      font-size: calc(2rem + 1vw);
      text-align: left;
    }
    .presentation {
      margin: calc(3rem + 10dvh) 0 calc(1rem + 1dvh) 0;
      max-width: 1000px;
    }
    .titles {
      transform: translateY(calc(-5rem + 3dvh));
    }
    .titles h1,
    .titles p {
      text-align: center;
    }
    .titles h1 {
      font-size: calc(4rem + 3vw);
      font-family: var(--ffB);
    }
    .titles p {
      font-size: calc(1.2rem + 1vw);
    }
    .list {
      margin: 2rem 0;
      justify-content: start;
      gap: calc(1rem + 1vw);
    }
    .list2 {
      margin: 2rem 0;
      justify-content: center;
      align-items: stretch;
      gap: calc(1rem + 1vw);
    }
  </style>
</Layout>
